<a href="https://colab.research.google.com/github/ImpulsoGov/Analises-Publicas-Saude/blob/main/Notebooks/20210615_Analise_Repasses_Financeiros_Componente_Desempenho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [26]:
meses = ['jan', 'fev', 'mar', 'abr', 
         'mai', 'jun', 'jul', 'ago',
        'set', 'out', 'nov', 'dez']
anos = ['2021', '2022']

dados_repasses_isf = pd.DataFrame()

for ano in anos:
  for mes in meses:
    nomearquivo = mes+'_'+ano+' - isf_'+mes+'_'+ano+'.csv'
    # print(ano, mes)
    if mes == 'ago' and ano == '2022':
      break
    else:
      dados = pd.read_csv(nomearquivo)
      dados = dados.iloc[7:-4]
      dados_repasses_isf = dados_repasses_isf.append(dados)

In [33]:
meses = ['jan', 'fev', 'mar', 'abr', 
         'mai', 'jun', 'jul', 'ago',
        'set', 'out', 'nov', 'dez']
anos = ['2021', '2022']

dados_correcao_repasses = pd.DataFrame()

for ano in anos:
  for mes in meses:
    nomearquivo = mes+'_'+ano+' - correcao_'+mes+'_'+ano+'.csv'
    if mes == 'ago' and ano == '2022':
      break
    else:
      dados = pd.read_csv(nomearquivo)
      dados = dados.iloc[7:-4]
      dados_correcao_repasses = dados_correcao_repasses.append(dados)

In [ ]:
dados_repasses_isf.columns

In [28]:
dados_repasses_isf = dados_repasses_isf.rename(columns = {'Unnamed: 1':'UF',
                        'Unnamed: 2':'Municipio',
                        'Unnamed: 3':'IBGE',
                        'Unnamed: 4':'Competência Financeira',
                        'Unnamed: 5':'Quadrimestre de Referência',
                        'Unnamed: 6':'ISF',
                        'Unnamed: 7':'equipes_esf',
                        'Unnamed: 8':'equipes_eap30',
                        'Unnamed: 9':'equipes_eap20',
                        'Unnamed: 10':'pagamento_isf',
                        'Unnamed: 11':'pagamento_100',
                        'Unnamed: 12':'equipes_novas_esf',
                        'Unnamed: 13':'equipes_novas_eap30',
                        'Unnamed: 14':'equipes_novas_eap20',
                        'Unnamed: 15':'pagamento_equipes_novas',
                        'Unnamed: 16':'pagamento_ajuste_adicional',
                        'Unnamed: 17':'pagamento_ajuste_desconto',
                        'Unnamed: 18':'pagamento_valor_total'})

In [34]:
dados_correcao_repasses = dados_correcao_repasses.rename(columns = {'Unnamed: 1':'UF',
                        'Unnamed: 2':'Municipio',
                        'Unnamed: 3':'IBGE',
                        'Unnamed: 4':'Competência Financeira',
                        'Unnamed: 5':'Quadrimestre de Referência',
                        'Unnamed: 6':'ISF',
                        'Unnamed: 7':'equipes_esf',
                        'Unnamed: 8':'equipes_eap30',
                        'Unnamed: 9':'equipes_eap20',
                        'Unnamed: 10':'pagamento_isf',
                        'Unnamed: 11':'pagamento_100',
                        'Unnamed: 12':'equipes_novas_esf',
                        'Unnamed: 13':'equipes_novas_eap30',
                        'Unnamed: 14':'equipes_novas_eap20',
                        'Unnamed: 15':'pagamento_equipes_novas',
                        'Unnamed: 16':'pagamento_ajuste_adicional',
                        'Unnamed: 17':'pagamento_ajuste_desconto',
                        'Unnamed: 18':'pagamento_valor_total'})

In [ ]:
dados_repasses_isf

In [35]:
dados_correcao_repasses

,Unnamed: 0,UF,Municipio,IBGE,Competência Financeira,Quadrimestre de Referência,ISF,equipes_esf,equipes_eap30,equipes_eap20,pagamento_isf,pagamento_100,equipes_novas_esf,equipes_novas_eap30
7,NaN,AC,BUJARI,120013,JAN/2021,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
8,NaN,AC,CAPIXABA,120017,JAN/2021,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
9,NaN,AC,CRUZEIRO DO SUL,120020,JAN/2021,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
10,NaN,AC,EPITACIOLÂNDIA,120025,JAN/2021,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
11,NaN,AC,FEIJÓ,120030,JAN/2021,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,NaN,TO,TAGUATINGA,172090,JUN/2022,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
5566,NaN,TO,TAIPAS DO TOCANTINS,172093,JUN/2022,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
5567,NaN,TO,TALISMÃ,172097,JUN/2022,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
5568,NaN,TO,TOCANTINÓPOLIS,172120,JUN/2022,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN
5569,NaN,TO,TOCANTÍNIA,172110,JUN/2022,"R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00","R$ 0,00",NaN,NaN