<a href="https://colab.research.google.com/github/ImpulsoGov/Analises-Publicas-Saude/blob/main/Notebooks/20210615_Analise_Repasses_Financeiros_Componente_Desempenho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preparando ambiente

In [78]:
import pandas as pd
import numpy as np

In [5]:
import plotly.express as px

## Tratamento de dados

In [ ]:
meses = ['jan', 'fev', 'mar', 'abr', 
         'mai', 'jun', 'jul', 'ago',
        'set', 'out', 'nov', 'dez']
anos = ['2021', '2022']

dados_repasses_isf = pd.DataFrame()

for ano in anos:
  for mes in meses:
    nomearquivo = mes+'_'+ano+' - isf_'+mes+'_'+ano+'.csv'
    # print(ano, mes)
    if mes == 'ago' and ano == '2022':
      break
    else:
      dados = pd.read_csv(nomearquivo)
      dados = dados.iloc[7:-4]
      dados_repasses_isf = dados_repasses_isf.append(dados)

In [ ]:
meses = ['jan', 'fev', 'mar', 'abr', 
         'mai', 'jun', 'jul', 'ago',
        'set', 'out', 'nov', 'dez']
anos = ['2021', '2022']

dados_correcao_repasses = pd.DataFrame()

for ano in anos:
  for mes in meses:
    nomearquivo = mes+'_'+ano+' - correcao_'+mes+'_'+ano+'.csv'
    if mes == 'ago' and ano == '2022':
      break
    else:
      dados = pd.read_csv(nomearquivo)
      dados = dados.iloc[7:-4]
      dados_correcao_repasses = dados_correcao_repasses.append(dados)

In [ ]:
dados_repasses_isf = dados_repasses_isf.rename(columns = {'Unnamed: 1':'UF',
                        'Unnamed: 2':'Municipio',
                        'Unnamed: 3':'IBGE',
                        'Unnamed: 4':'Competência Financeira',
                        'Unnamed: 5':'Quadrimestre de Referência',
                        'Unnamed: 6':'ISF',
                        'Unnamed: 7':'equipes_esf',
                        'Unnamed: 8':'equipes_eap30',
                        'Unnamed: 9':'equipes_eap20',
                        'Unnamed: 10':'pagamento_isf',
                        'Unnamed: 11':'pagamento_100',
                        'Unnamed: 12':'equipes_novas_esf',
                        'Unnamed: 13':'equipes_novas_eap30',
                        'Unnamed: 14':'equipes_novas_eap20',
                        'Unnamed: 15':'pagamento_equipes_novas',
                        'Unnamed: 16':'pagamento_ajuste_adicional',
                        'Unnamed: 17':'pagamento_ajuste_desconto',
                        'Unnamed: 18':'pagamento_valor_total'})

dados_correcao_repasses = dados_correcao_repasses.rename(columns = {'Unnamed: 1':'UF',
                        'Unnamed: 2':'Municipio',
                        'Unnamed: 3':'IBGE',
                        'Unnamed: 4':'Competência Financeira',
                        'Unnamed: 5':'1_valor_mensal_de_referência_do_ano_de_2019',
                        'Unnamed: 6':'2_valor_mensal_de_referência_para_o_quadrimestre',
                        'Unnamed: 7':'3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria',
                        'Unnamed: 8':'4_valor_do_repasse_global_da_financeira_atual',
                        'Unnamed: 9':'5_diferenca_entre_colunas_4_e_1',
                        'Unnamed: 10':'valor_que_supera_de__valor_estabelecido_em_Portaria',
                        'Unnamed: 11':'valor_da_correção_na_financeira_atual',
                        'Unnamed: 12':'ajuste_ajuste_adicional',
                        'Unnamed: 13':'ajuste_ajuste_desconto'})

In [ ]:
dados_repasses_isf['pagamento_isf'] = dados_repasses_isf['pagamento_isf'].str.replace('$', '')
dados_repasses_isf['pagamento_isf'] = dados_repasses_isf['pagamento_isf'].str.replace('R', '')
dados_repasses_isf['pagamento_isf'] = dados_repasses_isf['pagamento_isf'].str.replace('.', '')
dados_repasses_isf['pagamento_isf'] = dados_repasses_isf['pagamento_isf'].str.replace(',', '.')

dados_repasses_isf['pagamento_100'] = dados_repasses_isf['pagamento_100'].str.replace('$', '')
dados_repasses_isf['pagamento_100'] = dados_repasses_isf['pagamento_100'].str.replace('R', '')
dados_repasses_isf['pagamento_100'] = dados_repasses_isf['pagamento_100'].str.replace('.', '')
dados_repasses_isf['pagamento_100'] = dados_repasses_isf['pagamento_100'].str.replace(',', '.')

dados_repasses_isf['pagamento_equipes_novas'] = dados_repasses_isf['pagamento_equipes_novas'].str.replace('$', '')
dados_repasses_isf['pagamento_equipes_novas'] = dados_repasses_isf['pagamento_equipes_novas'].str.replace('R', '')
dados_repasses_isf['pagamento_equipes_novas'] = dados_repasses_isf['pagamento_equipes_novas'].str.replace('.', '')
dados_repasses_isf['pagamento_equipes_novas'] = dados_repasses_isf['pagamento_equipes_novas'].str.replace(',', '.')

dados_repasses_isf['pagamento_ajuste_adicional'] = dados_repasses_isf['pagamento_ajuste_adicional'].str.replace('$', '')
dados_repasses_isf['pagamento_ajuste_adicional'] = dados_repasses_isf['pagamento_ajuste_adicional'].str.replace('R', '')
dados_repasses_isf['pagamento_ajuste_adicional'] = dados_repasses_isf['pagamento_ajuste_adicional'].str.replace('.', '')
dados_repasses_isf['pagamento_ajuste_adicional'] = dados_repasses_isf['pagamento_ajuste_adicional'].str.replace(',', '.')

dados_repasses_isf['pagamento_ajuste_desconto'] = dados_repasses_isf['pagamento_ajuste_desconto'].str.replace('$', '')
dados_repasses_isf['pagamento_ajuste_desconto'] = dados_repasses_isf['pagamento_ajuste_desconto'].str.replace('R', '')
dados_repasses_isf['pagamento_ajuste_desconto'] = dados_repasses_isf['pagamento_ajuste_desconto'].str.replace('.', '')
dados_repasses_isf['pagamento_ajuste_desconto'] = dados_repasses_isf['pagamento_ajuste_desconto'].str.replace(',', '.')

dados_repasses_isf['pagamento_valor_total'] = dados_repasses_isf['pagamento_valor_total'].str.replace('$', '')
dados_repasses_isf['pagamento_valor_total'] = dados_repasses_isf['pagamento_valor_total'].str.replace('R', '')
dados_repasses_isf['pagamento_valor_total'] = dados_repasses_isf['pagamento_valor_total'].str.replace('.', '')
dados_repasses_isf['pagamento_valor_total'] = dados_repasses_isf['pagamento_valor_total'].str.replace(',', '.')

In [ ]:
dados_repasses_isf["pagamento_isf"] = pd.to_numeric(dados_repasses_isf["pagamento_isf"], downcast="float").round(2)
dados_repasses_isf["pagamento_100"] = pd.to_numeric(dados_repasses_isf["pagamento_100"], downcast="float").round(2)
dados_repasses_isf["pagamento_equipes_novas"] = pd.to_numeric(dados_repasses_isf["pagamento_equipes_novas"], downcast="float").round(2)
dados_repasses_isf["pagamento_ajuste_adicional"] = pd.to_numeric(dados_repasses_isf["pagamento_ajuste_adicional"], downcast="float").round(2)
dados_repasses_isf["pagamento_ajuste_desconto"] = pd.to_numeric(dados_repasses_isf["pagamento_ajuste_desconto"], downcast="float").round(2)
dados_repasses_isf["pagamento_valor_total"] = pd.to_numeric(dados_repasses_isf["pagamento_valor_total"], downcast="float").round(2)
dados_repasses_isf["ISF"] = pd.to_numeric(dados_repasses_isf["ISF"], downcast="float").round(2)

In [ ]:
dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'] = dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'].str.replace('$', '')
dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'] = dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'].str.replace('R', '')
dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'] = dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'].str.replace('.', '')
dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'] = dados_correcao_repasses['1_valor_mensal_de_referência_do_ano_de_2019'].str.replace(',', '.')

dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'] = dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'].str.replace('$', '')
dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'] = dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'].str.replace('R', '')
dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'] = dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'].str.replace('.', '')
dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'] = dados_correcao_repasses['2_valor_mensal_de_referência_para_o_quadrimestre'].str.replace(',', '.')

dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'] = dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'].str.replace('$', '')
dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'] = dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'].str.replace('R', '')
dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'] = dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'].str.replace('.', '')
dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'] = dados_correcao_repasses['3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria'].str.replace(',', '.')

dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'] = dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'].str.replace('$', '')
dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'] = dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'].str.replace('R', '')
dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'] = dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'].str.replace('.', '')
dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'] = dados_correcao_repasses['4_valor_do_repasse_global_da_financeira_atual'].str.replace(',', '.')

dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'] = dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'].str.replace('$', '')
dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'] = dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'].str.replace('R', '')
dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'] = dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'].str.replace('.', '')
dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'] = dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'].str.replace(',', '.')
dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'] = dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'].str.replace('- ', '-')

dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'] = dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'].str.replace('$', '')
dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'] = dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'].str.replace('R', '')
dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'] = dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'].str.replace('.', '')
dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'] = dados_correcao_repasses['valor_que_supera_de__valor_estabelecido_em_Portaria'].str.replace(',', '.')

dados_correcao_repasses['valor_da_correção_na_financeira_atual'] = dados_correcao_repasses['valor_da_correção_na_financeira_atual'].str.replace('$', '')
dados_correcao_repasses['valor_da_correção_na_financeira_atual'] = dados_correcao_repasses['valor_da_correção_na_financeira_atual'].str.replace('R', '')
dados_correcao_repasses['valor_da_correção_na_financeira_atual'] = dados_correcao_repasses['valor_da_correção_na_financeira_atual'].str.replace('.', '')
dados_correcao_repasses['valor_da_correção_na_financeira_atual'] = dados_correcao_repasses['valor_da_correção_na_financeira_atual'].str.replace(',', '.')

dados_correcao_repasses['ajuste_ajuste_adicional'] = dados_correcao_repasses['ajuste_ajuste_adicional'].str.replace('$', '')
dados_correcao_repasses['ajuste_ajuste_adicional'] = dados_correcao_repasses['ajuste_ajuste_adicional'].str.replace('R', '')
dados_correcao_repasses['ajuste_ajuste_adicional'] = dados_correcao_repasses['ajuste_ajuste_adicional'].str.replace('.', '')
dados_correcao_repasses['ajuste_ajuste_adicional'] = dados_correcao_repasses['ajuste_ajuste_adicional'].str.replace(',', '.')

dados_correcao_repasses['ajuste_ajuste_desconto'] = dados_correcao_repasses['ajuste_ajuste_desconto'].str.replace('$', '')
dados_correcao_repasses['ajuste_ajuste_desconto'] = dados_correcao_repasses['ajuste_ajuste_desconto'].str.replace('R', '')
dados_correcao_repasses['ajuste_ajuste_desconto'] = dados_correcao_repasses['ajuste_ajuste_desconto'].str.replace('.', '')
dados_correcao_repasses['ajuste_ajuste_desconto'] = dados_correcao_repasses['ajuste_ajuste_desconto'].str.replace(',', '.')

In [ ]:
dados_correcao_repasses["1_valor_mensal_de_referência_do_ano_de_2019"] = pd.to_numeric(dados_correcao_repasses["1_valor_mensal_de_referência_do_ano_de_2019"], downcast="float").round(2)
dados_correcao_repasses["2_valor_mensal_de_referência_para_o_quadrimestre"] = pd.to_numeric(dados_correcao_repasses["2_valor_mensal_de_referência_para_o_quadrimestre"], downcast="float").round(2)
dados_correcao_repasses["3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria"] = pd.to_numeric(dados_correcao_repasses["3_fator_de_correcao_valor_mensal_de_correcao_estabelecido_em_portaria"], downcast="float").round(2)
dados_correcao_repasses["4_valor_do_repasse_global_da_financeira_atual"] = pd.to_numeric(dados_correcao_repasses["4_valor_do_repasse_global_da_financeira_atual"], downcast="float").round(2)
dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'] = dados_correcao_repasses['5_diferenca_entre_colunas_4_e_1'].str.replace('- ', '')
dados_correcao_repasses["valor_que_supera_de__valor_estabelecido_em_Portaria"] = pd.to_numeric(dados_correcao_repasses["valor_que_supera_de__valor_estabelecido_em_Portaria"], downcast="float").round(2)
dados_correcao_repasses["valor_da_correção_na_financeira_atual"] = pd.to_numeric(dados_correcao_repasses["valor_da_correção_na_financeira_atual"], downcast="float").round(2)
dados_correcao_repasses["ajuste_ajuste_adicional"] = pd.to_numeric(dados_correcao_repasses["ajuste_ajuste_adicional"], downcast="float").round(2)
dados_correcao_repasses["ajuste_ajuste_desconto"] = pd.to_numeric(dados_correcao_repasses["ajuste_ajuste_desconto"], downcast="float").round(2)

In [ ]:
dados_correcao_repasses.to_csv('dados_correcao_repasses_full.csv')
dados_repasses_isf.to_csv('dados_repasses_isf_full.csv')

## Analises

In [145]:
dados_repasses_isf_full = pd.read_csv('dados_repasses_isf_full.csv')
dados_correcao_repasses_full = pd.read_csv('dados_correcao_repasses_full.csv')
ordem = pd.read_csv('ordem.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning:

Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.

### Alteração do ISF médio pelo Tempo [competência financeira]

In [ ]:
ordem.sort_values(by='ordem')['Competência Financeira'].to_list()

In [ ]:
dados_repasses_isf_full

In [36]:
copiadados = dados_repasses_isf_full

copiadados = copiadados.groupby(['Competência Financeira', 'Quadrimestre de Referência'], as_index=False)['ISF'].mean()

copiadados.ISF = round(copiadados.ISF, 2)

In [38]:
fig = px.scatter(copiadados, x="Competência Financeira", y="ISF", 
                 color="Quadrimestre de Referência", text="ISF")
fig.update_traces(textposition="top center")
fig.update_layout(title_text='Alteração do ISF médio pelo Tempo [competência financeira]')

fig.update_xaxes(categoryorder='array', categoryarray=ordem.sort_values(by='ordem')['Competência Financeira'].to_list())
fig.show()

### Municipios com variação do ISF por competência financeira

In [146]:
dados_repasses_isf_full['equipes_velhas_total'] = dados_repasses_isf_full['equipes_esf']+dados_repasses_isf_full['equipes_eap30']+dados_repasses_isf_full['equipes_eap20']
dados_repasses_isf_full['equipes_novas_total'] = dados_repasses_isf_full['equipes_novas_eap20']+dados_repasses_isf_full['equipes_novas_esf']+dados_repasses_isf_full['equipes_novas_eap30']
dados_repasses_isf_full['equipes_total'] = dados_repasses_isf_full['equipes_velhas_total']+dados_repasses_isf_full['equipes_novas_total']
dados_repasses_isf_full['pagamento_isf_total'] = dados_repasses_isf_full['pagamento_isf']+dados_repasses_isf_full['pagamento_100']
dados_repasses_isf_full['pagamento_ajuste_total'] = dados_repasses_isf_full['pagamento_ajuste_adicional']+dados_repasses_isf_full['pagamento_ajuste_desconto']

In [147]:
dados_repasses_isf_full = dados_repasses_isf_full.merge(ordem, on='Competência Financeira').sort_values(by=['IBGE', 'ordem'])

In [148]:
dados_repasses_isf_full['var_ISF'] = 0
dados_repasses_isf_full['var_equipes_velhas_total'] = 0
dados_repasses_isf_full['var_equipes_novas_total'] = 0
dados_repasses_isf_full['var_equipes_total'] = 0
dados_repasses_isf_full['var_pagamento_valor_total'] = 0
dados_repasses_isf_full['var_pagamento_isf_total'] = 0
dados_repasses_isf_full['var_pagamento_ajuste_total'] = 0

for i in range(1,len(dados_repasses_isf_full)):
    dados_repasses_isf_full['var_ISF'].iloc[i] = dados_repasses_isf_full['ISF'].iloc[i]-dados_repasses_isf_full['ISF'].iloc[i-1]
    dados_repasses_isf_full['var_equipes_velhas_total'].iloc[i] = dados_repasses_isf_full['equipes_velhas_total'].iloc[i]-dados_repasses_isf_full['equipes_velhas_total'].iloc[i-1]
    dados_repasses_isf_full['var_equipes_novas_total'].iloc[i] = dados_repasses_isf_full['equipes_novas_total'].iloc[i]-dados_repasses_isf_full['equipes_novas_total'].iloc[i-1]
    dados_repasses_isf_full['var_equipes_total'].iloc[i] = dados_repasses_isf_full['equipes_total'].iloc[i]-dados_repasses_isf_full['equipes_total'].iloc[i-1]
    dados_repasses_isf_full['var_pagamento_valor_total'].iloc[i] = dados_repasses_isf_full['pagamento_valor_total'].iloc[i]-dados_repasses_isf_full['pagamento_valor_total'].iloc[i-1]
    dados_repasses_isf_full['var_pagamento_isf_total'].iloc[i] = dados_repasses_isf_full['pagamento_isf_total'].iloc[i]-dados_repasses_isf_full['pagamento_isf_total'].iloc[i-1]
    dados_repasses_isf_full['var_pagamento_ajuste_total'].iloc[i] = dados_repasses_isf_full['pagamento_ajuste_total'].iloc[i]-dados_repasses_isf_full['pagamento_ajuste_total'].iloc[i-1]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [149]:
dados_repasses_isf_full['var_txt_ISF'] = ['AUMENTOU' if x>0 else 'DIMINUIU' for x in dados_repasses_isf_full['var_ISF']]
dados_repasses_isf_full['var_txt_equipes_velhas_total'] = ['AUMENTOU' if x>0 else 'DIMINUIU' for x in dados_repasses_isf_full['var_equipes_velhas_total']]
dados_repasses_isf_full['var_txt_equipes_novas_total'] = ['AUMENTOU' if x>0 else 'DIMINUIU' for x in dados_repasses_isf_full['var_equipes_novas_total']]
dados_repasses_isf_full['var_txt_equipes_total'] = ['AUMENTOU' if x>0 else 'DIMINUIU' for x in dados_repasses_isf_full['var_equipes_total']]
dados_repasses_isf_full['var_txt_pagamento_valor_total'] = ['AUMENTOU' if x>0 else 'DIMINUIU' for x in dados_repasses_isf_full['var_pagamento_valor_total']]
dados_repasses_isf_full['var_txt_pagamento_isf_total'] = ['AUMENTOU' if x>0 else 'DIMINUIU' for x in dados_repasses_isf_full['var_pagamento_isf_total']]
dados_repasses_isf_full['var_txt_pagamento_ajuste_total'] = ['AUMENTOU' if x>0 else 'DIMINUIU' for x in dados_repasses_isf_full['var_pagamento_ajuste_total']]

dados_repasses_isf_full.loc[dados_repasses_isf_full['var_ISF']==0, 'var_txt_ISF'] = 'IGUAL' 
dados_repasses_isf_full.loc[dados_repasses_isf_full['var_equipes_velhas_total']==0, 'var_txt_equipes_velhas_total'] = 'IGUAL' 
dados_repasses_isf_full.loc[dados_repasses_isf_full['var_equipes_novas_total']==0, 'var_txt_equipes_novas_total'] = 'IGUAL' 
dados_repasses_isf_full.loc[dados_repasses_isf_full['var_equipes_total']==0, 'var_txt_equipes_total'] = 'IGUAL' 
dados_repasses_isf_full.loc[dados_repasses_isf_full['var_pagamento_valor_total']==0, 'var_txt_pagamento_valor_total'] = 'IGUAL' 
dados_repasses_isf_full.loc[dados_repasses_isf_full['var_pagamento_isf_total']==0, 'var_txt_pagamento_isf_total'] = 'IGUAL' 
dados_repasses_isf_full.loc[dados_repasses_isf_full['var_pagamento_ajuste_total']==0, 'var_txt_pagamento_ajuste_total'] = 'IGUAL'

In [150]:
copiadados = dados_repasses_isf_full

copiadados = copiadados.groupby(['Competência Financeira', 'var_txt_ISF'], as_index=False)['var_ISF'].count()

copiadados = copiadados.merge(ordem, on='Competência Financeira')

In [151]:
copiadados.pivot(index=['ordem', 'Competência Financeira'], columns='var_txt_ISF')['var_ISF'].sort_values(by='ordem').replace(np.nan, 0)

var_txt_ISF                   AUMENTOU  DIMINUIU   IGUAL
ordem Competência Financeira
1     JAN/2021                  4504.0       0.0  1059.0
2     FEV/2021                   977.0       0.0  4586.0
3     MAR/2021                     2.0       0.0  5561.0
4     ABR/2021                     1.0       0.0  5562.0
5     MAI/2021                  2789.0    2669.0   105.0
6     JUN/2021                     0.0       0.0  5563.0
7     JUL/2021                     0.0       1.0  5562.0
8     AGO/2021                     0.0       0.0  5563.0
9     SET/2021                  5310.0     211.0    42.0
10    OUT/2021                     3.0       0.0  5560.0
11    NOV/2021                     1.0       0.0  5562.0
12    DEZ/2021                     0.0       0.0  5563.0
13    JAN/2022                     0.0       0.0  5563.0
14    FEV/2022                  4520.0     982.0    61.0
15    MAR/2022                     0.0       1.0  5562.0
16    ABR/2022                     1.0       0.0  5562.0
17    MAI/2022                  2912.0       3.0  2648.0
18    JUN/2022                     0.0    5541.0  5585.0

### Municipios com variação do Pagamento por Desempenho competência financeira

In [152]:
dados_repasses_isf_full.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'UF', 'Municipio', 'IBGE',
       'Competência Financeira', 'Quadrimestre de Referência', 'ISF',
       'equipes_esf', 'equipes_eap30', 'equipes_eap20', 'pagamento_isf',
       'pagamento_100', 'equipes_novas_esf', 'equipes_novas_eap30',
       'equipes_novas_eap20', 'pagamento_equipes_novas',
       'pagamento_ajuste_adicional', 'pagamento_ajuste_desconto',
       'pagamento_valor_total', 'equipes_velhas_total', 'equipes_novas_total',
       'equipes_total', 'pagamento_isf_total', 'pagamento_ajuste_total',
       'ordem', 'var_ISF', 'var_equipes_velhas_total',
       'var_equipes_novas_total', 'var_equipes_total',
       'var_pagamento_valor_total', 'var_pagamento_isf_total',
       'var_pagamento_ajuste_total', 'var_txt_ISF',
       'var_txt_equipes_velhas_total', 'var_txt_equipes_novas_total',
       'var_txt_equipes_total', 'var_txt_pagamento_valor_total',
       'var_txt_pagamento_isf_total', 'var_txt_pagamento_ajuste_total'],
      dtype='object')

In [153]:
copiadados = dados_repasses_isf_full

copiadados = copiadados.groupby(['Competência Financeira', 'var_txt_pagamento_isf_total'], as_index=False)['var_pagamento_isf_total'].count()

copiadados = copiadados.merge(ordem, on='Competência Financeira')

In [154]:
copiadados.pivot(index=['ordem', 'Competência Financeira'], columns='var_txt_pagamento_isf_total').sort_values(by='ordem').replace(np.nan, 0)

                             var_pagamento_isf_total
var_txt_pagamento_isf_total                 AUMENTOU DIMINUIU   IGUAL
ordem Competência Financeira
1     JAN/2021                                2617.0   2941.0     5.0
2     FEV/2021                                1094.0      1.0  4468.0
3     MAR/2021                                   0.0      1.0  5562.0
4     ABR/2021                                   1.0      1.0  5561.0
5     MAI/2021                                 561.0     57.0  4945.0
6     JUN/2021                                   0.0      0.0  5563.0
7     JUL/2021                                   0.0      2.0  5561.0
8     AGO/2021                                   1.0      1.0  5561.0
9     SET/2021                                 286.0    116.0  5161.0
10    OUT/2021                                   0.0      0.0  5563.0
11    NOV/2021                                   1.0      3.0  5559.0
12    DEZ/2021                                   4.0      0.0  5559.0
13    JAN/2022                                   0.0      0.0  5563.0
14    FEV/2022                                1059.0   3275.0  1229.0
15    MAR/2022                                   0.0    996.0  4567.0
16    ABR/2022                                   0.0      0.0  5563.0
17    MAI/2022                                2905.0      2.0  2656.0
18    JUN/2022                                 833.0   4678.0  5615.0

### Variação do Pagamento por Desempenho competência financeira

In [118]:
copiadados = dados_repasses_isf_full

copiadados = copiadados.groupby(['Competência Financeira', 'var_txt_pagamento_isf_total'], as_index=False)['var_pagamento_isf_total'].sum()

copiadados = copiadados.merge(ordem, on='Competência Financeira')

In [119]:
copiadados.pivot(index=['ordem', 'Competência Financeira'], columns='var_txt_pagamento_isf_total').sort_values(by='ordem').replace(np.nan, 0)

                             var_pagamento_isf_total
var_txt_pagamento_isf_total                 AUMENTOU     DIMINUIU IGUAL
ordem Competência Financeira
1     JAN/2021                           80153755.62 -76659561.36   0.0
2     FEV/2021                           16012125.13     -6450.00   0.0
3     MAR/2021                                  0.00   -129000.00   0.0
4     ABR/2021                              16125.00     -3225.00   0.0
5     MAI/2021                            5568469.40   -236231.57   0.0
6     JUN/2021                                  0.00         0.00   0.0
7     JUL/2021                                  0.00     -9675.00   0.0
8     AGO/2021                               6450.00     -6450.00   0.0
9     SET/2021                            1758511.84   -470036.60   0.0
10    OUT/2021                                  0.00         0.00   0.0
11    NOV/2021                               3225.00     -9675.00   0.0
12    DEZ/2021                              12900.00         0.00   0.0
13    JAN/2022                                  0.00         0.00   0.0
14    FEV/2022                            7284183.51  -6869858.19   0.0
15    MAR/2022                                  0.00  -8431342.30   0.0
16    ABR/2022                                  0.00         0.00   0.0
17    MAI/2022                            1003324.82      -133.84   0.0
18    JUN/2022                            3594015.98 -21016868.24   0.0

### Variação do Pagamento Total por Desempenho competência financeira

In [120]:
copiadados = dados_repasses_isf_full

copiadados = copiadados.groupby(['Competência Financeira', 'var_txt_pagamento_valor_total'], as_index=False)['var_pagamento_valor_total'].sum()

copiadados = copiadados.merge(ordem, on='Competência Financeira')

In [121]:
copiadados.pivot(index=['ordem', 'Competência Financeira'], columns='var_txt_pagamento_valor_total').sort_values(by='ordem').replace(np.nan, 0)

                              var_pagamento_valor_total
var_txt_pagamento_valor_total                  AUMENTOU      DIMINUIU IGUAL
ordem Competência Financeira
1     JAN/2021                              92479293.19 -6.650217e+07   0.0
2     FEV/2021                              23179580.21 -3.000000e-02   0.0
3     MAR/2021                               7718164.58 -1.290002e+05   0.0
4     ABR/2021                               8098755.04 -3.225240e+03   0.0
5     MAI/2021                               8729243.61 -2.007565e+05   0.0
6     JUN/2021                               3230913.71 -1.400000e-01   0.0
7     JUL/2021                               5851221.07 -9.675080e+03   0.0
8     AGO/2021                               6376084.69 -3.225080e+03   0.0
9     SET/2021                               7041224.71 -3.152312e+05   0.0
10    OUT/2021                               8011390.98 -2.000000e-02   0.0
11    NOV/2021                               8654792.83 -6.450020e+03   0.0
12    DEZ/2021                               9203049.81 -2.000000e-02   0.0
13    JAN/2022                               9190149.81 -2.000000e-02   0.0
14    FEV/2022                               7284183.51 -6.869858e+06   0.0
15    MAR/2022                                529715.09 -3.710858e+04   0.0
16    ABR/2022                               8985213.66  0.000000e+00   0.0
17    MAI/2022                              10056200.99 -7.740000e+01   0.0
18    JUN/2022                                     0.00 -2.722264e+08   0.0

In [155]:
copiadados = dados_repasses_isf_full

copiadados = copiadados.groupby(['Competência Financeira', 'var_txt_equipes_total', 'var_txt_pagamento_valor_total'], as_index=False)['var_pagamento_valor_total'].count()

copiadados = copiadados.merge(ordem, on='Competência Financeira')

In [164]:
copiadados.pivot(index=['ordem', 'Competência Financeira', 'var_txt_equipes_total'], columns='var_txt_pagamento_valor_total').sort_values(by='ordem').replace(np.nan, 0)

                                                   var_pagamento_valor_total  \
var_txt_pagamento_valor_total                                       AUMENTOU
ordem Competência Financeira var_txt_equipes_total
1     JAN/2021               AUMENTOU                                 4536.0
                             IGUAL                                     979.0
2     FEV/2021               AUMENTOU                                  110.0
                             DIMINUIU                                    0.0
                             IGUAL                                      17.0
3     MAR/2021               AUMENTOU                                   97.0
                             DIMINUIU                                    0.0
                             IGUAL                                      25.0
4     ABR/2021               AUMENTOU                                   65.0
                             DIMINUIU                                    0.0
                             IGUAL                                      18.0
5     MAI/2021               IGUAL                                      17.0
                             AUMENTOU                                  159.0
                             DIMINUIU                                    0.0
6     JUN/2021               AUMENTOU                                    8.0
                             DIMINUIU                                    0.0
                             IGUAL                                       7.0
7     JUL/2021               AUMENTOU                                  314.0
                             DIMINUIU                                    0.0
                             IGUAL                                      11.0
8     AGO/2021               IGUAL                                       8.0
                             AUMENTOU                                   99.0
                             DIMINUIU                                    0.0
9     SET/2021               IGUAL                                      30.0
                             AUMENTOU                                  202.0
                             DIMINUIU                                    0.0
10    OUT/2021               AUMENTOU                                  417.0
                             IGUAL                                       1.0
11    NOV/2021               AUMENTOU                                  105.0
                             DIMINUIU                                    0.0
                             IGUAL                                      13.0
12    DEZ/2021               AUMENTOU                                  121.0
                             IGUAL                                      11.0
13    JAN/2022               IGUAL                                       0.0
14    FEV/2022               DIMINUIU                                    0.0
                             IGUAL                                      19.0
                             AUMENTOU                                  135.0
15    MAR/2022               AUMENTOU                                  101.0
                             DIMINUIU                                    0.0
                             IGUAL                                       8.0
16    ABR/2022               AUMENTOU                                    6.0
                             DIMINUIU                                    0.0
                             IGUAL                                      16.0
17    MAI/2022               AUMENTOU                                    7.0
                             IGUAL                                    2905.0
18    JUN/2022               DIMINUIU                                    0.0
                             IGUAL                                       0.0


var_txt_pagamento_valor_total                      DIMINUIU   IGUAL
ordem Competência Financeira var_txt_equipes_total
1     JAN/2021               AUMENTOU                   0.0     0.0
                             IGUAL                      0.0    48.0
2     FEV/2021               AUMENTOU                   0.0  1064.0
                             DIMINUIU                   5.0     0.0
                             IGUAL                      6.0  4361.0
3     MAR/2021               AUMENTOU                   0.0     0.0
                             DIMINUIU                   1.0     0.0
                             IGUAL                      1.0  5439.0
4     ABR/2021               AUMENTOU                   0.0     0.0
                             DIMINUIU                   1.0     0.0
                             IGUAL                      0.0  5479.0
5     MAI/2021               IGUAL                     16.0  5293.0
                             AUMENTOU                   0.0     0.0
                             DIMINUIU                  78.0     0.0
6     JUN/2021               AUMENTOU                   0.0     0.0
                             DIMINUIU                   1.0     0.0
                             IGUAL                      1.0  5546.0
7     JUL/2021               AUMENTOU                   0.0     0.0
                             DIMINUIU                   2.0     0.0
                             IGUAL                      0.0  5236.0
8     AGO/2021               IGUAL                      0.0  5455.0
                             AUMENTOU                   0.0     0.0
                             DIMINUIU                   1.0     0.0
9     SET/2021               IGUAL                     31.0  5201.0
                             AUMENTOU                   0.0     0.0
                             DIMINUIU                  99.0     0.0
10    OUT/2021               AUMENTOU                   0.0     0.0
                             IGUAL                      0.0  5145.0
11    NOV/2021               AUMENTOU                   0.0     0.0
                             DIMINUIU                   3.0     0.0
                             IGUAL                      0.0  5442.0
12    DEZ/2021               AUMENTOU                   0.0     0.0
                             IGUAL                      0.0  5431.0
13    JAN/2022               IGUAL                      0.0  5563.0
14    FEV/2022               DIMINUIU                 100.0     0.0
                             IGUAL                   3806.0  1454.0
                             AUMENTOU                  49.0     0.0
15    MAR/2022               AUMENTOU                   0.0     1.0
                             DIMINUIU                   4.0     0.0
                             IGUAL                      3.0  5446.0
16    ABR/2022               AUMENTOU                   0.0     0.0
                             DIMINUIU                   0.0     1.0
                             IGUAL                      0.0  5540.0
17    MAI/2022               AUMENTOU                   0.0     0.0
                             IGUAL                      2.0  2649.0
18    JUN/2022               DIMINUIU                5554.0     0.0
                             IGUAL                      0.0  5572.0

In [157]:
copiadados2 = dados_repasses_isf_full

copiadados2 = copiadados2[copiadados2['Competência Financeira'] == "MAR/2021"]
copiadados2 = copiadados2[copiadados2.var_txt_equipes_total == "IGUAL"]
copiadados2 = copiadados2[copiadados2.var_txt_pagamento_valor_total == "AUMENTOU"]

In [ ]:
copiadados2

In [160]:
copiadados2.loc[13675]

Unnamed: 0                            2556
Unnamed: 0.1                           NaN
UF                                      PA
Municipio                           TUCUMÃ
IBGE                                150808
Competência Financeira            MAR/2021
Quadrimestre de Referência          2020Q3
ISF                                   4.04
equipes_esf                              7
equipes_eap30                            0
equipes_eap20                            0
pagamento_isf                       9120.3
pagamento_100                      13454.7
equipes_novas_esf                        0
equipes_novas_eap30                      0
equipes_novas_eap20                      1
pagamento_equipes_novas            2418.75
pagamento_ajuste_adicional             0.0
pagamento_ajuste_desconto              0.0
pagamento_valor_total             24993.75
equipes_velhas_total                     7
equipes_novas_total                      1
equipes_total                            8
pagamento_isf_total                22575.0
pagamento_ajuste_total                 0.0
ordem                                    3
var_ISF                                0.0
var_equipes_velhas_total                 0
var_equipes_novas_total                  0
var_equipes_total                        0
var_pagamento_valor_total           805.75
var_pagamento_isf_total                0.0
var_pagamento_ajuste_total               0
var_txt_ISF                          IGUAL
var_txt_equipes_velhas_total         IGUAL
var_txt_equipes_novas_total          IGUAL
var_txt_equipes_total                IGUAL
var_txt_pagamento_valor_total     AUMENTOU
var_txt_pagamento_isf_total          IGUAL
var_txt_pagamento_ajuste_total       IGUAL
Name: 13675, dtype: object

In [161]:
copiadados3 = dados_repasses_isf_full

copiadados3 = copiadados3[copiadados3['Competência Financeira'] == "FEV/2021"]
copiadados3 = copiadados3[copiadados3.IBGE == 150808]

In [162]:
copiadados3

,Unnamed: 0,Unnamed: 0.1,UF,Municipio,IBGE,Competência Financeira,Quadrimestre de Referência,ISF,equipes_esf,equipes_eap30,...,var_pagamento_valor_total,var_pagamento_isf_total,var_pagamento_ajuste_total,var_txt_ISF,var_txt_equipes_velhas_total,var_txt_equipes_novas_total,var_txt_equipes_total,var_txt_pagamento_valor_total,var_txt_pagamento_isf_total,var_txt_pagamento_ajuste_total
8112,2556,NaN,PA,TUCUMÃ,150808,FEV/2021,2020Q3,4.04,7,0,...,1613.0,0.0,0,IGUAL,IGUAL,AUMENTOU,AUMENTOU,AUMENTOU,IGUAL,IGUAL

In [163]:
copiadados3.loc[8112]

Unnamed: 0                            2556
Unnamed: 0.1                           NaN
UF                                      PA
Municipio                           TUCUMÃ
IBGE                                150808
Competência Financeira            FEV/2021
Quadrimestre de Referência          2020Q3
ISF                                   4.04
equipes_esf                              7
equipes_eap30                            0
equipes_eap20                            0
pagamento_isf                       9120.3
pagamento_100                      13454.7
equipes_novas_esf                        0
equipes_novas_eap30                      1
equipes_novas_eap20                      0
pagamento_equipes_novas             1613.0
pagamento_ajuste_adicional             0.0
pagamento_ajuste_desconto              0.0
pagamento_valor_total              24188.0
equipes_velhas_total                     7
equipes_novas_total                      1
equipes_total                            8
pagamento_isf_total                22575.0
pagamento_ajuste_total                 0.0
ordem                                    2
var_ISF                                0.0
var_equipes_velhas_total                 0
var_equipes_novas_total                  1
var_equipes_total                        1
var_pagamento_valor_total           1613.0
var_pagamento_isf_total                0.0
var_pagamento_ajuste_total               0
var_txt_ISF                          IGUAL
var_txt_equipes_velhas_total         IGUAL
var_txt_equipes_novas_total       AUMENTOU
var_txt_equipes_total             AUMENTOU
var_txt_pagamento_valor_total     AUMENTOU
var_txt_pagamento_isf_total          IGUAL
var_txt_pagamento_ajuste_total       IGUAL
Name: 8112, dtype: object