# Endpoint Escola Segura

---

**Fonte:** Censo Escolar 2019 (INEP)

**Tratamento feito por:** fernandascovino @ ImpulsoGov

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configurações-de-tratamento" data-toc-modified-id="Configurações-de-tratamento-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configurações de tratamento</a></span></li><li><span><a href="#Funções-de-agrupamento" data-toc-modified-id="Funções-de-agrupamento-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Funções de agrupamento</a></span></li><li><span><a href="#Tratamento-dos-dados" data-toc-modified-id="Tratamento-dos-dados-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Tratamento dos dados</a></span><ul class="toc-item"><li><span><a href="#Turmas" data-toc-modified-id="Turmas-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Turmas</a></span></li><li><span><a href="#Escolas" data-toc-modified-id="Escolas-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Escolas</a></span></li><li><span><a href="#Professores" data-toc-modified-id="Professores-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Professores</a></span></li></ul></li><li><span><a href="#Junta-tabelas" data-toc-modified-id="Junta-tabelas-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Junta tabelas</a></span><ul class="toc-item"><li><span><a href="#Pega-dados-do-Farol" data-toc-modified-id="Pega-dados-do-Farol-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Pega dados do Farol</a></span></li><li><span><a href="#Validação-de-cidades" data-toc-modified-id="Validação-de-cidades-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Validação de cidades</a></span><ul class="toc-item"><li><span><a href="#Agua-Santa-(RS):-não-tem-as-mesmas-escolas-nas-tabelas!" data-toc-modified-id="Agua-Santa-(RS):-não-tem-as-mesmas-escolas-nas-tabelas!-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Agua Santa (RS): não tem as mesmas escolas nas tabelas!</a></span></li></ul></li></ul></li><li><span><a href="#Validação" data-toc-modified-id="Validação-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Validação</a></span><ul class="toc-item"><li><span><a href="#Salas-únicas-por-etapa-de-ensino" data-toc-modified-id="Salas-únicas-por-etapa-de-ensino-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Salas únicas por etapa de ensino</a></span><ul class="toc-item"><li><span><a href="#A-soma-de-salas-por-etapa-de-ensino-é-maior-ou-igual-ao-total-de-salas-existentes,-pois-uma-escola-pode-oferecer-+1-etapa--->-não-temos-opção-de-&quot;Todos&quot;-nas-etapas" data-toc-modified-id="A-soma-de-salas-por-etapa-de-ensino-é-maior-ou-igual-ao-total-de-salas-existentes,-pois-uma-escola-pode-oferecer-+1-etapa--->-não-temos-opção-de-&quot;Todos&quot;-nas-etapas-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>A soma de salas por etapa de ensino é maior ou igual ao total de salas existentes, pois uma escola pode oferecer +1 etapa --&gt; não temos opção de "Todos" nas etapas</a></span></li><li><span><a href="#A-soma-das-salas-para-todas-as-redes-é-igual-ao-total-de-salas-consideradas-por-etapa-de-ensino-✅" data-toc-modified-id="A-soma-das-salas-para-todas-as-redes-é-igual-ao-total-de-salas-consideradas-por-etapa-de-ensino-✅-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>A soma das salas para todas as redes é igual ao total de salas consideradas por etapa de ensino ✅</a></span></li><li><span><a href="#A-soma-das-salas-para-todas-as-localizações-(urbana/rural)-é-igual-ao-total-de-salas-consideradas-por-etapa-de-ensino-✅" data-toc-modified-id="A-soma-das-salas-para-todas-as-localizações-(urbana/rural)-é-igual-ao-total-de-salas-consideradas-por-etapa-de-ensino-✅-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>A soma das salas para todas as localizações (urbana/rural) é igual ao total de salas consideradas por etapa de ensino ✅</a></span></li><li><span><a href="#A-soma-das-salas-com-e-sem-água-filtrada-é-igual-ao-total-de-salas-consideradas-por-etapa-de-ensino-✅" data-toc-modified-id="A-soma-das-salas-com-e-sem-água-filtrada-é-igual-ao-total-de-salas-consideradas-por-etapa-de-ensino-✅-5.1.4"><span class="toc-item-num">5.1.4&nbsp;&nbsp;</span>A soma das salas com e sem água filtrada é igual ao total de salas consideradas por etapa de ensino ✅</a></span></li></ul></li><li><span><a href="#Alunos-únicos-por-turma" data-toc-modified-id="Alunos-únicos-por-turma-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Alunos únicos por turma</a></span><ul class="toc-item"><li><span><a href="#A-soma-dos-alunos-de-todas-as-etapas-de-ensino-é-igual-ao-total-de-alunos--->-não-temos-opção-de-&quot;Todos&quot;-nas-etapas" data-toc-modified-id="A-soma-dos-alunos-de-todas-as-etapas-de-ensino-é-igual-ao-total-de-alunos--->-não-temos-opção-de-&quot;Todos&quot;-nas-etapas-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>A soma dos alunos de todas as etapas de ensino é igual ao total de alunos --&gt; não temos opção de "Todos" nas etapas</a></span></li><li><span><a href="#A-soma-dos-alunos-de-todas-as-redes-é-igual-ao-total-de-alunos-✅" data-toc-modified-id="A-soma-dos-alunos-de-todas-as-redes-é-igual-ao-total-de-alunos-✅-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>A soma dos alunos de todas as redes é igual ao total de alunos ✅</a></span></li></ul></li><li><span><a href="#Professores-únicos-por-etapa-de-ensino,-rede-e-município" data-toc-modified-id="Professores-únicos-por-etapa-de-ensino,-rede-e-município-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Professores únicos por etapa de ensino, rede e município</a></span><ul class="toc-item"><li><span><a href="#A-soma-dos-professores-de-todas-as-etapas-de-ensino-é-maior-ou-igual-ao-total-de-professores,--pois-um-professor-pode-atuar-em-mais-de-uma-etapa--->-não-temos-opção-de-&quot;Todos&quot;-nas-etapas" data-toc-modified-id="A-soma-dos-professores-de-todas-as-etapas-de-ensino-é-maior-ou-igual-ao-total-de-professores,--pois-um-professor-pode-atuar-em-mais-de-uma-etapa--->-não-temos-opção-de-&quot;Todos&quot;-nas-etapas-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>A soma dos professores de todas as etapas de ensino é maior ou igual ao total de professores,  pois um professor pode atuar em mais de uma etapa --&gt; não temos opção de "Todos" nas etapas</a></span></li><li><span><a href="#A-soma-dos-professores-de-todas-as-redes-é-maior-ou-igual-ao-total-de-professores,-pois-um-professor-pode-atuar-em-mais-de-uma-rede-✅" data-toc-modified-id="A-soma-dos-professores-de-todas-as-redes-é-maior-ou-igual-ao-total-de-professores,-pois-um-professor-pode-atuar-em-mais-de-uma-rede-✅-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>A soma dos professores de todas as redes é maior ou igual ao total de professores, pois um professor pode atuar em mais de uma rede ✅</a></span></li><li><span><a href="#A-soma-dos-professores-de-todos-os-municípios-é-maior-ou-igual-ao-total-de-professores,-pois-um-professor-pode-atuar-em-mais-de-um-município-✅" data-toc-modified-id="A-soma-dos-professores-de-todos-os-municípios-é-maior-ou-igual-ao-total-de-professores,-pois-um-professor-pode-atuar-em-mais-de-um-município-✅-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>A soma dos professores de todos os municípios <strong>é maior ou igual</strong> ao total de professores, pois um professor pode atuar em mais de um município ✅</a></span></li></ul></li></ul></li><li><span><a href="#Salvando-os-dados" data-toc-modified-id="Salvando-os-dados-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Salvando os dados</a></span></li></ul></div>

Considerações:  
    
- **Água encanada filtra somente número de salas (infraestrutura)**


- Não consideramos (com base nos filtros do Censo para as estatísticas da ed. básica):
    - Alunos EJA
    - Professor de atividades complementares (somente Docente no Censo)
    - Turmas exclusivas especiais

---

Tabela geral:
- CO_UF --> state_id
- CO_MUNICIPIO --> city_id
- TP_DEPENDENCIA --> administrative_level [Estadual|Municipal|Todos]
- TP_LOCALIZACAO --> location_level [Urbana|Rural|Todos]
- IN_AGUA_REDE_PUBLICA --> school_public_water_supply [Sim|Não|Todos]
- TP_ETAPA_ENSINO --> education_level [Fundamental - Anos iniciais|Fundamental - Anos finais|Ensino médio]
- QT_MATRICULAS --> number_students, total por etapa
- QT_DOCENTES --> number_teachers, total por etapa
- QT_SALAS --> number_classrooms, total por etapa

Detalhe alunos:
- CO_UF --> state_id
- CO_MUNICIPIO --> city_id
- TP_DEPENDENCIA --> administrative_level [Estadual|Municipal|Todos]
- TP_LOCALIZACAO --> location_level [Urbana|Rural|Todos]
- TP_ETAPA_ENSINO --> education_level [Fundamental - Anos iniciais|Fundamental - Anos finais|Ensino médio]
- TP_ETAPA_ANO --> education_year [FAI1|...|FAF6|...|EM3]
- QT_MATRICULAS --> number_students, total por etapa

In [1]:
import pandas as pd
import numpy as np

## Configurações de tratamento

In [30]:
replaces = {
    "IN_ESPECIAL_EXCLUSIVA": {
        0: "Não exclusiva"
    },
    "TP_SITUACAO_FUNCIONAMENTO": {
        1: "Ativa"
    },
    "TP_TIPO_ATENDIMENTO_TURMA": {
        1: "Escolarização/Complementar",
        2: "Escolarização/Complementar",
        3: "Escolarização/Complementar",
    },
    "TP_TIPO_DOCENTE": {
        1: "Docente/Monitor",
        3: "Docente/Monitor"
    },
    "TP_ETAPA_ENSINO": {
        14: "Fundamental I",
        15: "Fundamental I",
        16: "Fundamental I",
        17: "Fundamental I",
        18: "Fundamental I",
        19: "Fundamental II",
        20: "Fundamental II",
        21: "Fundamental II",
        41: "Fundamental II",
        25: "Ensino Médio",
        26: "Ensino Médio",
        27: "Ensino Médio",
        28: "Ensino Médio",
        29: "Ensino Médio"
    }, # 56: "Fundamental - Anos iniciais", multi-etapa?
    "TP_DEPENDENCIA": {
        2: "Estadual",
        3: "Municipal",
    },
    "TP_LOCALIZACAO": {
        1: "Urbana",
        2: "Rural",
    },
    "IN_AGUA_REDE_PUBLICA": {
        0: "Não",
        1: "Sim",
    }
}

def melt_indicators(df, to_melt, keep_vars, new_col):
    """
    Transforma um conjunto de indicadores numa nova coluna.
    
    to_melt:
        Dicionário contendo [nome_indicador]: [valor_na_nova_coluna]
        (ex: {"IN_COMUM_FUND_AI": "Fundamental - Anos iniciais"})
    id_vars:
        Lista de variáveis para se manter no dataframe
    new_col:
        Nome da nova coluna que irá conter os valores passados em `to_melt`.
    """
    
    return (
        df[keep_vars + list(to_melt.keys())]
        .melt(id_vars=keep_vars, 
              var_name=[new_col], 
              value_name='value')
        .query("value == 1")
        .drop(columns="value")
        .replace(to_melt)
    )

def treat_data(df, replaces, value):
    
    for col in replaces:
        if col in df.columns:
            # Filtra somente por valoresno dicionario
            df = df.query(f"{col} in {list(replaces[col].keys())}")
            # Substitui códigos
            df[col] = df[col].replace(replaces[col])
            
    keep = ["CO_UF", "CO_MUNICIPIO", "CO_ENTIDADE"] + [col for col in replaces.keys() if col in df.columns]
    
    # Escolas --> Cria coluna TP_ETAPA_ENSINO
    if value == "QT_SALAS_UTILIZADAS":
        to_melt = {"IN_COMUM_FUND_AI": "Fundamental I",
                   "IN_COMUM_FUND_AF": "Fundamental II",
                   "IN_COMUM_MEDIO_MEDIO": "Ensino Médio"}
        
        new_col="TP_ETAPA_ENSINO"
        
        df = melt_indicators(df, to_melt, keep + [value], new_col)
        keep +=[new_col]
        
    # Profs --> Remove duplicacao por escola
    if value == "ID_DOCENTE":
        df = df.drop_duplicates(subset=keep+[value])
        
    agg_func = {
        "QT_MATRICULAS": "sum",
        "QT_SALAS_UTILIZADAS": "sum",
        "ID_DOCENTE": "count"}
    
    return df.groupby(keep)[value].agg(agg_func[value]).reset_index()

## Funções de agrupamento

In [226]:
from itertools import chain, combinations

def all_filters_choices(filters):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(filters)
    return list(chain.from_iterable(combinations(s, r) for r in range(len(s)+1)))
    
    
def melt_indicators(df, to_melt, keep_vars, new_col):
    """
    Transforma um conjunto de indicadores numa nova coluna.
    
    to_melt:
        Dicionário contendo [nome_indicador]: [valor_na_nova_coluna]
        (ex: {"IN_COMUM_FUND_AI": "Fundamental - Anos iniciais"})
    id_vars:
        Lista de variáveis para se manter no dataframe
    new_col:
        Nome da nova coluna que irá conter os valores passados em `to_melt`.
    """
    
    return (
        df[keep_vars + list(to_melt.keys())]
        .melt(id_vars=keep_vars, 
              var_name=[new_col], 
              value_name='value')
        .query("value == 1")
        .drop(columns="value")
        .replace(to_melt)
    )
    

def agg_by_choice(df, ids, filters, agg_col, to_melt=None):
    """
    Agrega dados de uma coluna por id e todas as combinações possíveis de filtros.
    """
    
    # Constroi a coluna de etapa de ensino
    if agg_col == "QT_SALAS_UTILIZADAS":
        
        new_col = "TP_ETAPA_ENSINO"
        df = df.pipe(melt_indicators, 
                     to_melt = to_melt, 
                     keep_vars = ids+filters+[agg_col], 
                     new_col = new_col)

        ids += [new_col]
        
    # Cria todas as permutações de filtros
    all_filters = all_filters_choices([col for col in filters if col in df.columns])

    result = pd.DataFrame()
    for choice in all_filters:
        
        group = ids + list(choice)

        # Professor@ unic@ por filtros
        if agg_col == "ID_DOCENTE":
            unique = group + [agg_col]
            df = df.drop_duplicates(subset=unique)

        agg_func = {
            "QT_MATRICULAS": "sum",
            "QT_SALAS_UTILIZADAS": "sum",
            "ID_DOCENTE": "count"}

        result = pd.concat([result, (
             df
             .groupby(group)[agg_col]
             .agg(agg_func[agg_col])
             .reset_index()
         )],axis=0) 

    return result

## Tratamento dos dados

### Turmas

In [31]:
turmas = (
    pd.read_csv('/Users/fernandascovino/Desktop/microdados_educacao_basica_2019/DADOS/TURMAS.CSV',
                encoding="latin-1", sep="|")
    .pipe(treat_data, replaces, value="QT_MATRICULAS")
)

pd.options.display.max_columns=200
turmas.info()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119500 entries, 0 to 119499
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CO_UF                      119500 non-null  int64
 1   CO_MUNICIPIO               119500 non-null  int64
 2   CO_ENTIDADE                119500 non-null  int64
 3   IN_ESPECIAL_EXCLUSIVA      119500 non-null  object
 4   TP_TIPO_ATENDIMENTO_TURMA  119500 non-null  object
 5   TP_ETAPA_ENSINO            119500 non-null  object
 6   TP_DEPENDENCIA             119500 non-null  object
 7   TP_LOCALIZACAO             119500 non-null  object
 8   QT_MATRICULAS              119500 non-null  int64
dtypes: int64(4), object(5)
memory usage: 8.2+ MB

### Escolas

In [32]:
escolas = (pd.read_csv('/Users/fernandascovino/Desktop/microdados_educacao_basica_2019/DADOS/ESCOLAS.CSV',
                     encoding="latin-1", sep="|")
          .pipe(treat_data, replaces, value="QT_SALAS_UTILIZADAS"))

pd.options.display.max_columns=200
escolas.info()

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150534 entries, 0 to 150533
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CO_UF                      150534 non-null  int64
 1   CO_MUNICIPIO               150534 non-null  int64
 2   CO_ENTIDADE                150534 non-null  int64
 3   IN_ESPECIAL_EXCLUSIVA      150534 non-null  object
 4   TP_SITUACAO_FUNCIONAMENTO  150534 non-null  object
 5   TP_DEPENDENCIA             150534 non-null  object
 6   TP_LOCALIZACAO             150534 non-null  object
 7   IN_AGUA_REDE_PUBLICA       150534 non-null  object
 8   TP_ETAPA_ENSINO            150534 non-null  object
 9   QT_SALAS_UTILIZADAS        150534 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 11.5+ MB

In [33]:
escolas.head()

,CO_UF,CO_MUNICIPIO,CO_ENTIDADE,IN_ESPECIAL_EXCLUSIVA,TP_SITUACAO_FUNCIONAMENTO,TP_DEPENDENCIA,TP_LOCALIZACAO,IN_AGUA_REDE_PUBLICA,TP_ETAPA_ENSINO,QT_SALAS_UTILIZADAS
0,11,1100015,11022558,Não exclusiva,Ativa,Estadual,Rural,Não,Fundamental I,1.0
1,11,1100015,11024291,Não exclusiva,Ativa,Municipal,Rural,Não,Fundamental I,2.0
2,11,1100015,11024372,Não exclusiva,Ativa,Municipal,Urbana,Não,Fundamental I,5.0
3,11,1100015,11024372,Não exclusiva,Ativa,Municipal,Urbana,Não,Fundamental II,5.0
4,11,1100015,11024666,Não exclusiva,Ativa,Municipal,Rural,Não,Fundamental I,7.0

### Professores

In [34]:
profs = pd.DataFrame()

for region in ["NORTE", "SUDESTE", "SUL", "NORDESTE", "CO"]:
    path = f'/Users/fernandascovino/Desktop/microdados_educacao_basica_2019/DADOS/DOCENTES_{region}.CSV'
    profs = profs.append(pd.read_csv(path, encoding="latin-1", sep="|")
                .pipe(treat_data, replaces, value="ID_DOCENTE"))
    
profs.info()

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (45) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119500 entries, 0 to 8651
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CO_UF                      119500 non-null  int64
 1   CO_MUNICIPIO               119500 non-null  int64
 2   CO_ENTIDADE                119500 non-null  int64
 3   IN_ESPECIAL_EXCLUSIVA      119500 non-null  object
 4   TP_TIPO_ATENDIMENTO_TURMA  119500 non-null  object
 5   TP_TIPO_DOCENTE            119500 non-null  object
 6   TP_ETAPA_ENSINO            119500 non-null  object
 7   TP_DEPENDENCIA             119500 non-null  object
 8   TP_LOCALIZACAO             119500 non-null  object
 9   ID_DOCENTE                 119500 non-null  int64
dtypes: int64(4), object(6)
memory usage: 10.0+ MB

## Junta tabelas

In [35]:
aux = profs.merge(turmas, on=list(set(profs.columns) & set(turmas.columns)))
aux = (
    aux
       .merge(escolas, on=list(set(aux.columns) & set(escolas.columns)))
       .assign(CO_MUNICIPIO= lambda df: df.CO_MUNICIPIO.astype(int).astype(str))
)

aux.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117904 entries, 0 to 117903
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CO_UF                      117904 non-null  int64
 1   CO_MUNICIPIO               117904 non-null  object
 2   CO_ENTIDADE                117904 non-null  int64
 3   IN_ESPECIAL_EXCLUSIVA      117904 non-null  object
 4   TP_TIPO_ATENDIMENTO_TURMA  117904 non-null  object
 5   TP_TIPO_DOCENTE            117904 non-null  object
 6   TP_ETAPA_ENSINO            117904 non-null  object
 7   TP_DEPENDENCIA             117904 non-null  object
 8   TP_LOCALIZACAO             117904 non-null  object
 9   ID_DOCENTE                 117904 non-null  int64
 10  QT_MATRICULAS              117904 non-null  int64
 11  TP_SITUACAO_FUNCIONAMENTO  117904 non-null  object
 12  IN_AGUA_REDE_PUBLICA       117904 non-null  object
 13  QT_SALAS_UTILIZADAS        117904 non-null  float64
dtypes: float64(1), int64(4), object(9)
memory usage: 13.5+ MB

In [36]:
aux[aux["CO_UF"] == 35].groupby("TP_ETAPA_ENSINO")["QT_MATRICULAS"].sum()

TP_ETAPA_ENSINO
Ensino Médio      1207450
Fundamental I     2350997
Fundamental II    1887614
Name: QT_MATRICULAS, dtype: int64

In [37]:
from itertools import chain, combinations

def all_filters_choices(filters):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(filters)
    return list(chain.from_iterable(combinations(s, r) for r in range(len(s)+1)))

def agg_by_choice(df, ids, filters, agg_cols):
    """
    Agrega dados de uma coluna por id e todas as combinações possíveis de filtros.
    """
        
    # Cria todas as permutações de filtros
    all_filters = all_filters_choices([col for col in filters if col in df.columns])

    result = pd.DataFrame()
    for choice in all_filters:
        
        group = ids + list(choice)
        result = pd.concat([result, (
             df
             .groupby(group)[agg_cols]
             .sum()
             .reset_index()
         )],axis=0) 

    return result

In [38]:
df_full = agg_by_choice(aux, 
              ids=["CO_UF", "TP_ETAPA_ENSINO"],
              filters=['CO_MUNICIPIO', 'TP_DEPENDENCIA', 'TP_LOCALIZACAO', 'IN_AGUA_REDE_PUBLICA'],
              agg_cols = [
                "QT_MATRICULAS",
                "QT_SALAS_UTILIZADAS",
                "ID_DOCENTE"]).fillna("Todos")

df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208410 entries, 0 to 34212
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   CO_UF                 208410 non-null  int64
 1   TP_ETAPA_ENSINO       208410 non-null  object
 2   QT_MATRICULAS         208410 non-null  int64
 3   QT_SALAS_UTILIZADAS   208410 non-null  float64
 4   ID_DOCENTE            208410 non-null  int64
 5   CO_MUNICIPIO          208410 non-null  object
 6   TP_DEPENDENCIA        208410 non-null  object
 7   TP_LOCALIZACAO        208410 non-null  object
 8   IN_AGUA_REDE_PUBLICA  208410 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.9+ MB

In [39]:
df_full = df_full.rename(
    columns={
        "CO_UF": "state_num_id",
        "CO_MUNICIPIO": "city_id",
        "TP_DEPENDENCIA": "administrative_level",
        "TP_LOCALIZACAO": "school_location",
        "IN_AGUA_REDE_PUBLICA": "school_public_water_supply",
        "TP_ETAPA_ENSINO": "education_phase",
        "QT_MATRICULAS": "number_students",
        "ID_DOCENTE": "number_teachers",
        "QT_SALAS_UTILIZADAS": "number_classroms"
    }
)

df_full.head()

,state_num_id,education_phase,number_students,number_classroms,number_teachers,city_id,administrative_level,school_location,school_public_water_supply
0,11,Ensino Médio,52861,2758.0,4485,Todos,Todos,Todos,Todos
1,11,Fundamental I,121855,5452.0,5551,Todos,Todos,Todos,Todos
2,11,Fundamental II,109625,4947.0,5427,Todos,Todos,Todos,Todos
3,12,Ensino Médio,34825,2032.0,2160,Todos,Todos,Todos,Todos
4,12,Fundamental I,66140,2610.0,2641,Todos,Todos,Todos,Todos

### Pega dados do Farol

In [44]:
# ==> Código automatizado no endpoint para coleta diária
df_farol = pd.concat([pd.read_csv("http://datasource.coronacidades.org/br/states/farolcovid/main")[
    ["state_num_id", "overall_alert", "last_updated_cases"]
].assign(city_id=lambda df: "Todos"),
    pd.read_csv("http://datasource.coronacidades.org/br/cities/farolcovid/main")[
    ["state_num_id", "city_id",  "overall_alert", "last_updated_cases"]
].assign(city_id= lambda df: df["city_id"].astype(int).astype(str))]
)

df_farol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5597 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state_num_id        5597 non-null   int64
 1   overall_alert       5344 non-null   float64
 2   last_updated_cases  5594 non-null   object
 3   city_id             5597 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 218.6+ KB

### Validação de cidades

#### Agua Santa (RS): não tem as mesmas escolas nas tabelas!

In [45]:
set(df_farol["city_id"].unique()) - set(df_full["city_id"].astype(str).unique())

set()

In [46]:
profs[profs["CO_MUNICIPIO"] == 4300059]

,CO_UF,CO_MUNICIPIO,CO_ENTIDADE,IN_ESPECIAL_EXCLUSIVA,TP_TIPO_ATENDIMENTO_TURMA,TP_TIPO_DOCENTE,TP_ETAPA_ENSINO,TP_DEPENDENCIA,TP_LOCALIZACAO,ID_DOCENTE
10905,43,4300059,43010032,Não exclusiva,Escolarização/Complementar,Docente/Monitor,Ensino Médio,Estadual,Urbana,14
10906,43,4300059,43010105,Não exclusiva,Escolarização/Complementar,Docente/Monitor,Fundamental I,Municipal,Urbana,13
10907,43,4300059,43010105,Não exclusiva,Escolarização/Complementar,Docente/Monitor,Fundamental II,Municipal,Urbana,13

In [47]:
turmas[turmas["CO_MUNICIPIO"] == 4300059]

,CO_UF,CO_MUNICIPIO,CO_ENTIDADE,IN_ESPECIAL_EXCLUSIVA,TP_TIPO_ATENDIMENTO_TURMA,TP_ETAPA_ENSINO,TP_DEPENDENCIA,TP_LOCALIZACAO,QT_MATRICULAS
101745,43,4300059,43010032,Não exclusiva,Escolarização/Complementar,Ensino Médio,Estadual,Urbana,97
101746,43,4300059,43010105,Não exclusiva,Escolarização/Complementar,Fundamental I,Municipal,Urbana,205
101747,43,4300059,43010105,Não exclusiva,Escolarização/Complementar,Fundamental II,Municipal,Urbana,170

In [48]:
escolas[escolas["CO_MUNICIPIO"] == 4300059]

,CO_UF,CO_MUNICIPIO,CO_ENTIDADE,IN_ESPECIAL_EXCLUSIVA,TP_SITUACAO_FUNCIONAMENTO,TP_DEPENDENCIA,TP_LOCALIZACAO,IN_AGUA_REDE_PUBLICA,TP_ETAPA_ENSINO,QT_SALAS_UTILIZADAS
131045,43,4300059,43005578,Não exclusiva,Ativa,Estadual,Rural,Não,Fundamental I,3.0
131046,43,4300059,43005578,Não exclusiva,Ativa,Estadual,Rural,Não,Fundamental II,3.0
131047,43,4300059,43010032,Não exclusiva,Ativa,Estadual,Urbana,Sim,Ensino Médio,9.0
131048,43,4300059,43010156,Não exclusiva,Ativa,Estadual,Rural,Não,Fundamental I,3.0
131049,43,4300059,43010156,Não exclusiva,Ativa,Estadual,Rural,Não,Fundamental II,3.0

## Validação

### Salas únicas por etapa de ensino

#### A soma de salas por etapa de ensino é maior ou igual ao total de salas existentes, pois uma escola pode oferecer +1 etapa --> não temos opção de "Todos" nas etapas

#### A soma das salas para todas as redes é igual ao total de salas consideradas por etapa de ensino ✅

In [49]:
test_class_administrative = lambda df: all(
    df[df["administrative_level"] == "Municipal"]
    .groupby("education_phase")["number_classroms"].sum() 
    + df[df["administrative_level"] == "Estadual"]
    .groupby("education_phase")["number_classroms"].sum()
    == df[df["administrative_level"] == "Todos"]
    .groupby("education_phase")["number_classroms"].sum())

df_full.pipe(test_class_administrative)

True

#### A soma das salas para todas as localizações (urbana/rural) é igual ao total de salas consideradas por etapa de ensino ✅

In [50]:
test_class_location = lambda df: all(
    df[df["school_location"] == "Rural"]
    .groupby("education_phase")["number_classroms"].sum() 
    + df[df["school_location"] == "Urbana"]
    .groupby("education_phase")["number_classroms"].sum()
    == df[df["school_location"] == "Todos"]
    .groupby("education_phase")["number_classroms"].sum())

df_full.pipe(test_class_location)

True

#### A soma das salas com e sem água filtrada é igual ao total de salas consideradas por etapa de ensino ✅

In [51]:
test_class_water_supply = lambda df: all(
    df[df["school_public_water_supply"] == "Sim"]
    .groupby("education_phase")["number_classroms"].sum() 
    + df[df["school_public_water_supply"] == "Não"]
    .groupby("education_phase")["number_classroms"].sum()
    == df[df["school_public_water_supply"] == "Todos"]
    .groupby("education_phase")["number_classroms"].sum())

df_full.pipe(test_class_water_supply)

True

### Alunos únicos por turma

#### A soma dos alunos de todas as etapas de ensino é igual ao total de alunos --> não temos opção de "Todos" nas etapas

#### A soma dos alunos de todas as redes é igual ao total de alunos ✅

In [52]:
test_class_administrative = lambda df: all(
    df[df["administrative_level"] == "Municipal"]
    .groupby("education_phase")["number_students"].sum() 
    + df[df["administrative_level"] == "Estadual"]
    .groupby("education_phase")["number_students"].sum()
    == df[df["administrative_level"] == "Todos"]
    .groupby("education_phase")["number_students"].sum())

df_full.pipe(test_class_administrative)

True

### Professores únicos por etapa de ensino, rede e município

#### A soma dos professores de todas as etapas de ensino é maior ou igual ao total de professores,  pois um professor pode atuar em mais de uma etapa --> não temos opção de "Todos" nas etapas

#### A soma dos professores de todas as redes é maior ou igual ao total de professores, pois um professor pode atuar em mais de uma rede ✅

In [53]:
test_teacher_administrative = lambda df: all(
    df[df["administrative_level"] == "Municipal"]
    .groupby("education_phase")["number_teachers"].sum() 
    + df[df["administrative_level"] == "Estadual"]
    .groupby("education_phase")["number_teachers"].sum() 
    >= df[df["administrative_level"] == "Todos"]
    .groupby("education_phase")["number_teachers"].sum())

df_full.pipe(test_teacher_administrative)

True

#### A soma dos professores de todos os municípios **é maior ou igual** ao total de professores, pois um professor pode atuar em mais de um município ✅

In [54]:
test_teacher_municipality = lambda df: all(
    df[df["city_id"] != "Todos"]
    .groupby("education_phase")["number_teachers"].sum() 
    >= df[df["city_id"] == "Todos"]
    .groupby("education_phase")["number_teachers"].sum())

df_full.pipe(test_teacher_municipality)

True

## Salvando os dados

In [55]:
df_full.to_csv("br_safeschool_censo_2019.csv")